@import "general";
@import "variables";
@import "header";
@import "footer";
@import "maps";
@import "extends";
@import "mixins";

body {
    background-color: $colorSecundario;
    font-family: $fuentePrimaria;
}
main {
    background: $colorSecundario;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,138,0,1) 12%, rgba(255,138,0,1) 88%, rgba(0,0,0,1) 100%);
    grid-area: main;
    .main__portada{
        min-width: none;
    }
    .main__titulo {
        font-size: 5rem;
        text-align: center;
        font-weight: bold;
        margin: 10px;
        color: white;
    }
    .main__section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__textintro {
        font-family: $fuenteSecundaria;
        font-size: 1rem;
        margin: 10px;
        width: 70%;
        font-weight: bold;
    }
    .main__video1{
        margin: 10px;
    }
    .textoCuriosidad{
        font-family: $fuenteSecundaria;
        font-weight: bold;
    }
    .main_curiosidades{
        display: flex;
        flex-direction: column;
        border-top: solid black;
        border-bottom: solid black;
        margin: 2rem;
    } 
}







