* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ninja Naruto', arial;
}
body{
    background-color: black;
}

/* header */
#navbar {
    overflow: hidden;
    background-color: black;
    padding: auto 10px; 
    transition: 1s; 
    width: 100%;
    top: 0; 
    z-index: 99;
  }
  
  #navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 20px;
    border-radius: 10px;
  }
  
  #navbar-right a:hover {
    background-color: orange;
    color: black;
  }
  
  #navbar a.active {
    color: #ff8a00;
  }

  #navbar-right {
    float: right;
    position: relative;
    top: 50px;
  }
  .header__logo{
    height: 80%;
    width: 50%;
}
  


/* MAIN */
main {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,138,0,1) 12%, rgba(255,138,0,1) 88%, rgba(0,0,0,1) 100%);
    grid-area: main;
}
.main__portada{
    min-width: none;
}
.main__titulo {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    color: white;
}
.main__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__textintro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 10px;
    width: 70%;
    font-weight: bold;
}
.main__video1{
    margin: 10px;
}

.textoCuriosidad{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.main_curiosidades{
    display: flex;
    flex-direction: column;
    border-top: solid black;
    border-bottom: solid black;
    margin: 2rem;
}   
/* FOOTER */

.footer__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #e60073;
    box-shadow:  0 0 20px #e60073 ;
}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;
}

.icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366 ;
}

.icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow:  0 0 20px #1da1f2 ;
}

.icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 220;
}

/* PERSONAJES */

.personaje__info{
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 3px solid white;
    background-color: black;
}
.imagen__personaje{
    width: 50%;
    height: auto;
}
.nombre__personaje{
    margin: 10px;
    font-weight: bold;
    color: white;
}
.lorem__info{
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: auto;
    margin: 10px;
    color: white;
    font-size: 1rem;
}

/* CAPITULOS */

.lista_grid{
    display: grid;
    grid-template-columns: 0.5fr 8fr 0.5fr;
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

.main__tabla{
    border: 2px solid black;
}
.aaa{
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.info_tabla{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* OPENINGS */
.opening__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.op__titulo {
    font-size: 2rem;
    margin: 10px;
}

.op__if {
    margin: 15px;
    
}

/* PELICULAS */
.peli__grid{
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 8fr;
    grid-template-areas: 
    "titulo titulo"
    "img video"
    "img info";
}

.peli__titulo {
    font-size: 2rem;
    /* margin: 10px; */
    grid-area: titulo;
}

.peli__img {
    grid-area: img;

}

.peli__info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 40%;
    grid-area: info;
}

.peli__video{
    grid-area: video;
}










/* MEDIA QUERIES */

/* HEADER */
@media screen and (max-width: 767px) {
    #navbar {
        padding: 20px 10px !important; 
    }
    #navbar a {
      float: none;
      display: block;
      text-align: center;
    }
    #navbar-right {
      float: none;
      position: static;
    }
    .main_index{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        width: 100%;
    }
    /* personajes */
     .personaje__info{
        flex-direction: column;
        align-items: center;
    }
    .lorem__info{
        height: auto;
        width: 100%;
        margin: 10px;
    } 
    /* PELICULAS */
    .peli__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 4fr 2fr 0.5fr;
        grid-template-areas: 
        "titulo"
        "img"
        "video"
        "info";
    }
    .peli__info {
        font-size: 1em;
        width: 100%;
    }

    /* capitulos */
    .lista_grid{
        grid-template-rows: repeat(10, 0.5fr);
    }
}

@media screen and (max-width:1024) {
    
    #navbar a {
      float: none;
      text-align: left;
      font-size: 0.5rem;
    }
    #navbar-right {
      float: none;
      position: static;
    }
}
